<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%green(%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC}) %highlight(%level) %yellow([%thread]) %cyan(%class{1}:%line) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.reflections" additivity="false" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="curacao" additivity="false" level="WARN">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="curacao.handlers.ReturnTypeMapperCallbackHandler" additivity="false" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="curacao.handlers.AbstractFutureCallbackHandler" additivity="false" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Squelch noisy Solr logging; enable if needed in dev. -->
    <logger name="org.apache.solr.update.processor.LogUpdateProcessorFactory" additivity="false" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.apache.solr.core.SolrCore.Request" additivity="false" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.apache.solr.core.SolrCore" additivity="false" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.apache.solr.logging.LogWatcher" additivity="false" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.apache.solr.core.CoreContainer" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.apache.solr.core.NodeConfig" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
